@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Nunito+Sans:opsz@6..12&family=Varela&display=swap');

.home-container {
    background-image: url('../greenwaves.png');
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 3/2;
    width: 100vw;
    height: 99.9vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-container {
    /* background-color: red; */
    margin-bottom: 8em;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .play-now-btn {
    margin-top: -1.8em;
    font-size: 2.5em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    background-color: #FF9DF9;
    color: white;
    padding: 0.5em 0.8em 0.5em 0.8em;
    border: none;
  }
  
  .play-now-btn:hover {
    cursor: pointer;
    color: greenyellow;
    background-color: #f69cf0;
  }
  
  .title {
    color: black;
    font-size: 8rem;
    font-family: 'Josefin Sans', sans-serif;
    /* margin-bottom: 1.5em; */
  }
  
  .sign-up-btn {
    padding: 0px;
    background-color: transparent;
    font-size: 2.5em;
    color: #FF9DF9;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    right: 0.8em;
    top: 0.7em;
    border: none;
  }
  
  .sign-up-btn:hover {
    cursor: pointer;
  }
  
  .match-history-container {
    background-image: url('../greenwaves.png');
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 3/2;
    width: 100vw;
    height: 99.9vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .card-container {
    background-color: white;
    height: 75vh;
    width: 85vw;
    margin-top: -3.5em;
    border-radius: 2em;
  
  }
  
  .game-history-title {
    /* margin-top: 0.5em; */
    font-size: 6em;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
  }
  
  
  .game-history-table {
    /* background-color: red; */
    border-collapse:separate;
    margin-left: 3em;
    overflow: hidden;
    margin-right: 3em;
    border-spacing:0 0.5em;
    font-size: 1.1em;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
  }
  
  .game-history-table th {
    padding-right: 1em;
    padding-top: 0.3em;
    text-align: left;
    padding-right: 5.6em;
    color: rgb(33, 33, 33);
    font-size: 2.4em;
    margin-bottom: 1em;
  }
  
  
  .game-history-table tr {
    margin-top: 1em;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
  }
  
  
  td {
    padding: 0.70em;
  }
  
  .opponent-name-container { 
    color: #D304D8;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .opponent-date-container { 
    color: grey;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .game-history-table .win-tag {
    color: white;
    text-align: center;
    background-color: rgb(18, 222, 38);
    border-radius: 1em;
    font-weight: bold;
    width: 5em;
    margin-left: 3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
  
  .game-history-table .loss-tag {
    color: white;
    text-align: center;
    background-color: rgb(222, 35, 18);
    border-radius: 1em;
    font-weight: bold;
    width: 5em;
    margin-left: 3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }

  .card-container {
    padding: 1.2em 1.6em 0em 1.6em;
  }
  
  
  
  .header-container {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.2em;
    margin-bottom: 0.4em;
  }
  
  
  .game-overview {
    background-color: rgb(243, 243, 243);
    height: 2.9em;
    margin-bottom: 0.25em;
    font-size: 1.5em;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .game-details {
    /* background-color: gray; */
    margin-top: 0.3em;
    margin-bottom: 1.5em;
  }
  
  .game-overview:hover {
    cursor: pointer;
  }
  
  .game-details {
    color: black;
  }
  
  .win-result {
    padding: 0.5em;
    text-align: center;
    background-color: greenyellow;
    border-radius: 0.3em;
    height: 1.5em;
    width: 3em;
    margin: 0.2em 0.2em 0em 0em;
  }
  
  .loss-result {
    padding: 0.5em;
    text-align: center;
    background-color: red;
    border-radius: 0.3em;
    height: 1.5em;
    width: 3em;
    margin: 0.2em 0.2em 0em 0em;
  }
  
  .gameid {
    margin-left: 0.5em;
  }
  
  .gameid, .gamedate {
    margin-top: 0.5em;
  }
  
  .gamedate {
    text-align: left;
    width: 6em;
    margin-left: 5em;
  }


  /* Test */