.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 25px;
    background-color: #fff; /* Set your desired background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
  }
  
  .h1 {
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 30px; /* Add margin at the bottom of the header */
  }
  
  .input-container {
    margin: 20px 0; /* Add margin to top and bottom of input containers */

  }
  
  .input {
    width: 88%;
    padding: 19px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-right: 100px;
  }
  
  .login-button {
    background-color: #FF9DF9; /* Pink color */
    color: #fff;
    border: none;
    border-radius: 10px;
    height: 45px;
    width: 140px;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  .login-button:hover {
    background-color: #ff4785; /* Lighter pink on hover */
  }
  
  .a {
    text-decoration: none;
    color: blue; /* Pink color for the link */
    margin-top: 20px; /* Add margin at the top of the link */
  }
  .placeholder-style-update-profile::placeholder {
    color: green;
    font-size:medium;
  }
  